{% extends "article/base.html" %}
{% block content %}


<div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Articles</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/article/list">List</a></li>
          <li class="active"><a href="/article/add">Add</a></li>
        </ul>
      </div>
    </nav>
    <div>
        <form action="/article/add" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="title">Title:</label>
              <input type="text" class="form-control" id="title" placeholder="Enter title" name="title">
            </div>
            <div class="form-group">
              <label for="author">Author:</label>
              <input type="text" class="form-control" id="author" placeholder="Enter author" name="author">
            </div>
            <div class="form-group">
              <label for="content">Content:</label>
              <textarea class="form-control" rows="5" id="content" name="content"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>

{% endblock content %}